html {
    scroll-behavior: smooth;
}
.container {
    max-width: 1200px;
    /* border: solid 1px red; */
    margin: auto;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 22px;
}
.header-menu a, #header-block a {
    color: black;
    font-size: 22px;
    text-decoration: none;
    border: solid 2px black;
    padding: 10px 20px;
    border-radius: 4px;
    transition: .3s;
}
.header-menu a:hover, #header-block a:hover {
    color: white;
    background-color: black;
}
.header-menu a:active, #header-block a:active {
    background-color: silver;
    border-color: silver;
}
.col {
    width: 50%;
}
#nav-block {
    position: fixed;
    width: 1200px;
    z-index: 2;
    background-color: white;
    top: 0;
}
#nav-block .icon {
    display: none;
}
#header-block {
    gap: 30px;
    margin-top: 160px;
}
#header-block h1 {
    font-size: 42px;
    font-weight: bold;
}
#header-block h2 {
    font-weight: bolder;
    color: silver;
}
#header-block a {
    margin-top: 12px;
    display: inline-block;  
}
#info-block,
#characteristic-block  {
    padding-top: 140px;
}
#info-block h4 {
    font-weight: bold;
    text-transform: uppercase;
}
#characteristic-block ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#characteristic-block ul li:first-child {
    color: white;
    background-color: black;
}
#characteristic-block ul li {
    display: flex;
}
#characteristic-block ul li p {
    width: 50%;
    margin: 5px 0;
}
#characteristic-block .col:last-child {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#characteristic-block img {
    position: absolute;
    left: -50%;
}
.characteristic-h4 {
   position: absolute;
   top: 70px;
}
#characteristic-block {
    position: relative;
    gap: 20px;
}
#form-block {
    padding-top: 140px;
}
#form-block .form-block-inner {
    position: relative;
}
#form-block form {
    width: 420px;
}
#form-block input[type='text'],
#form-block input[type='tel'] {
    border: none;
    width: 100%;
    border-bottom: 1px silver solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
    outline: none;
}
#form-block .form-radio-style {
    width: 60px;
    height: 12px;
    border-radius: 10px;
    cursor: pointer;
}
#form-block .radio-silver {
    background-color: silver;
}
#form-block .radio-red {
    background-color: red;
}
#form-block .radio-white {
    background-color: white;
    border: solid 1px silver;
}
#form-block .form-label-box {
    display: flex;
    gap: 20px;
}
#form-block .form-label-box input {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
}
#form-block .form-label-box input:checked + .form-bike {
    display: block;
}
#form-block .form-bike {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#form-block .form-bike img {
    max-width: 520px;
}
#form-block .form-bike p {
    position: absolute;
    top: 0;
    border: red solid 1px;
    width: 80px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
#footer {
    margin-top: 140px;
    background-color: beige;
}
#footer .row {
    padding: 20px 0;
}
@media only screen and (max-width: 1200px) {
   .container,
   #nav-block {
    padding: 0 10px;
   }
    #nav-block {
    width: 100%;
   }
   #info-block img {
    width: 100%;
   }
}
@media only screen and (max-width: 760px) {
    #nav-block {
        display: flex;
        flex-direction: row;
    }
    #nav-block .header-menu {
        display: none;
    }
    #nav-block .responsive {
        position: relative;
    }
    #nav-block .responsive ul{
        display: block;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: white;
    }
    #nav-block .responsive ul a {
        display: block;
    }
    #nav-block .icon {
        display: block;
    }
    #nav-block .responsive .icon {
        position: absolute;
        top: -10px;
        right: 0;
    }
    .row {
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
    #info-block {
        padding-top: 70px;
    }
    #characteristic-block .col:last-child {
        position: static;
        height: auto;
        overflow: auto;
    }
    #characteristic-block .col img {
        position: static;
        width: 100%;
    }
    #form-block form {
        width: 100%;
        height: 515px;
    }
    #form-block .form-block-inner {
        position: static;
    }
    #form-block .form-label-box {
        position: relative;
    }
    #form-block .form-bike img {
        width: 100%;
    }
    #form-block .form-bike {
        left: 0;
        top: 18px;
    }
    #footer .row {
        gap: 20px;
    }
    #footer .social-block a:first-child,
    #footer .phone-email-block a:first-child {
        margin-right: 20px;
    }
}