html {
    scroll-behavior: smooth;
}
.container {
    width: 1200px;
    margin: 0px auto;
}
.nav {
    position: fixed;
    top: 0;
    width: 1200px;
    z-index: 2;
    background-color: white;
}
.nav .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row {
    display: flex;
    align-items: center;
    gap: 20px;
}
.col {
    width: 50%;
}
.header-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.header-menu ul a, .header-block a {
    border: solid 2px black;
    padding: 10px 24px;
    color: black;
    text-decoration: none;
    font-size: 22px;
    border-radius: 4px;
    display: block;
    transition: .4s;
}
.header-menu ul a:hover, .header-block a:hover {
    color: white;
    border-color: brown;
    background-color: brown;
    transform: scale(1.08);
}
.header-menu ul a:active, .header-block a:active {
    color: blue;
    border-color: blue;
}
.header-block {
    margin-top: 92px;
}
.header-block h1 {
    font-size: 52px;
    font-weight: 700;
}
.header-block h2 {
    color: silver;
}
.header-block p {
    padding-right: 36px;
}
.header-block .col div {
    margin-top: 36px;
}
.header-block a {
    display: inline;
}
.header-block .col:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info {
    padding-top: 82px;
}
.info h4 {
    text-transform: uppercase;
    font-weight: 700;
}
.info p {
    font-size: 13px;
}
.characteristic ul {
    list-style-type: none;
    padding: 0;
}
.characteristic ul li:first-child {
    background-color: black;
    color: white;
}
.characteristic ul li {
    display: flex;
}
.characteristic ul li p {
    width: 50%;
    margin-top: 10px;
}
.characteristic .col:last-child {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.characteristic img {
    position: absolute;
    left: -50%;
}